body{
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}


p{
    font-weight: 300;
    font-size: 20px;
}



h1{
    font-size: 50px;
}


h2{
    font-size: 40px;
}


h3{
    font-size: 30px;
}


.second-div{
    text-align: center;
}




.first-div{
    text-align: center ;
}




.paypal-button{
   text-decoration: none;
   background-image: linear-gradient(green, olive);
   padding: 10px 40px;
   font-weight: 700;
   border-radius: 5px;
}




.first-section{
    background-image: url(images/background2.jpg);
    background-size: 500px 300px 200px 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}


.third-div{
    text-align: center;
}



.section-four{
    display: flex;
}



.div-four{
    width: 33%;
    padding-left: 100px;
}




.div-five{
    width: 50%;
    padding-left: 40px;
}



.section-five{
    display: flex;
}




